<h2>Flatline Controls</h2>
<p>A set of custom&nbsp;controls, following the trend of a more flat UI design. &nbsp;Heavily influenced by Google&rsquo;s Material Design, though constrained by what can be done with available tools and options in LabVIEW. &nbsp;Uses icons from Google Material Design.</p>
<p>Buttons based on the system booleans (with hover effects). &nbsp;Icons can be added as decals (such as from materialdesignicons.com)&nbsp;</p>
<p><img src="Buttons.png" alt="Button examples" /></p>
<p>Matched sets of controls for numeric/string/enum/etc., based on Silver controls, but swapping out all &lsquo;chrome&rsquo; for simple boxes and lines.</p>
<p><img src="Box Style.png" alt="Box Style (also includes Underline Style)" /></p>
<p>flattened&nbsp;versions of switches/sliders/arrays/graphs etc.</p>
<p><img src="Switch Slider.png" alt="Switch, Slider, Checkboxes (resizeable)" /></p>
<p>Special "Segmented Control" (based on a Radio Button control):</p>
<p><img src="Segmented Button.png" alt="Segmented Control" /></p>
<p>A "Flat" version of the three-button dialog:</p>
<p><img src="Flatline Dialog.png" alt="Three-button Dialog" /></p>
<p>&nbsp;</p>
<p>For support please see <a title="[CR] Flatline Controls" href="https://lavag.org/topic/19649-cr-flatline-controls/" target="_blank" rel="noopener">[CR] Flatline Controls</a> and <a title="JSONtext Issues" href="https://bitbucket.org/drjdpowell/flatline-controls-for-labview/issues?status=new&amp;status=open">Bitbucket Issue Tracker</a>.</p>
<p><strong>Compatible LabVIEW Versions:</strong> &gt;= 2011.</p>
<p><strong>Compatible OS Versions:</strong> ALL.</p>